<div class="row">
   <div class="column column-33">
    <div class="preview-panel">
        <a href="#">
            <img src="holder.js/330x330?auto=yes">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="#">
            <img src="holder.js/330x330?auto=yes">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="#">
            <img src="holder.js/330x330?auto=yes">
        </a>
    </div>
   </div>
</div>

<div class="row">
   <div class="column column-33">
    <div class="preview-panel">
        <a href="#">
            <img src="holder.js/330x330?auto=yes">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="#">
            <img src="holder.js/330x330?auto=yes">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="#">
            <img src="holder.js/330x330?auto=yes">
        </a>
    </div>
   </div>
</div>
