<div class="row">
   <div class="column column-33">
    <div class="preview-panel">
        <a href="#">
            <img src="/assets/images/Arachnophilia_1/Cuff Sketch.jpg">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="#">
            <img src="/assets/images/Bismuth_4/Dada.jpg">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="#">
            <img src="/assets/images/CAD_5/Barbarism.jpg">
        </a>
    </div>
   </div>
</div>

<div class="row">
   <div class="column column-33">
    <div class="preview-panel">
        <a href="#">
            <img src="/assets/images/GoelxHetzel_2/Fashion Show.jpg">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="#">
            <img src="/assets/images/Solace_3/Solace Brooch.jpg">
        </a>
    </div>
   </div>
</div>
