<div class="row">
   <div class="column column-33">
    <div class="preview-panel">
        <a href="{{ site.baseurl }}{% link _posts/2021-07-30-arachnophilia.markdown %}">
            <img src="/assets/images/Arachnophilia_1/6- Web Necklace Kite Ring Jo Kaplan.jpg">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="{{ site.baseurl }}{% link _posts/2021-07-30-arachnophilia.markdown %}">
            <img src="/assets/images/Arachnophilia_1/11- Kite Drop Chain Brooch Jo Kaplan.jpg">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="{{ site.baseurl }}{% link _posts/2021-07-30-arachnophilia.markdown %}">
            <img src="/assets/images/Arachnophilia_1/5- Web Necklace Finished.jpg">
        </a>
    </div>
   </div>
</div>

<div class="row">
   <div class="column column-33">
    <div class="preview-panel">
        <a href="{{ site.baseurl }}{% link _posts/2021-07-30-arachnophilia.markdown %}">
            <img src="/assets/images/Arachnophilia_1/19- Web Ring.jpg">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="{{ site.baseurl }}{% link _posts/2021-07-30-goelxhetzel.markdown %}">
            <img src="/assets/images/GoelxHetzel_2/5- Fashion Show 3.jpg">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="{{ site.baseurl }}{% link _posts/2021-07-30-goelxhetzel.markdown %}">
            <img src="/assets/images/GoelxHetzel_2/10- Fashion Show 4.jpg">
        </a>
    </div>
   </div>
</div>

<div class="row">
   <div class="column column-33">
    <div class="preview-panel">
        <a href="{{ site.baseurl }}{% link _posts/2021-07-30-goelxhetzel.markdown %}">
            <img src="/assets/images/GoelxHetzel_2/6- Fashion Show 5.jpg">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="{{ site.baseurl }}{% link _posts/2021-07-30-solace.markdown %}">
            <img src="/assets/images/Solace_3/5- Solace Brooch.jpg">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="{{ site.baseurl }}{% link _posts/2021-07-30-solace.markdown %}">
            <img src="/assets/images/Solace_3/14- Solace Necklace.jpg">
        </a>
    </div>
   </div>
</div>

<div class="row">
   <div class="column column-33">
    <div class="preview-panel">
        <a href="{{ site.baseurl }}{% link _posts/2021-07-30-cad.markdown %}">
            <img src="/assets/images/CAD_5/6- Cathedral Solitaire.jpg">
        </a>
    </div>
   </div>
   <div class="column column-33">
    <div class="preview-panel">
        <a href="{{ site.baseurl }}{% link _posts/2021-07-30-cad.markdown %}">
            <img src="/assets/images/CAD_5/1- Droplet Ring.jpg">
        </a>
    </div>
   </div>
</div>

